
<launch> 
    <!-- <include ns="ugv" file="$(find ugv)/src/launch/gazebo_explorer_bot.launch" /> -->
    <!-- <include ns="agv" file="$(find agv)/launch/main.launch" /> -->
    <!-- <include > -->
    <!-- file="$(find gazebo_ros)/launch/empty_world.launch">  -->
    	<!-- arg name="world_name" value="$(find ugv)/src/worlds/my_empty.world"/-->
		<!-- <arg name="world_name" value="$(find agv_ugv)/worlds/combined_world.world"/> -->


    <!-- </include> -->
    <include file="$(find agv)/launch/agv.launch"/>
    <include file="$(find ugv)/src/launch/ugv.launch"/>
</launch>
