<launch>
	
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		<arg name="world" value="$(find agv)/worlds/my_empty.world"/>
	
	</include>

	<!-- Our node to control the drone -->
	<node pkg="agv" type="agv_node" name="agv_node" required="true" output="screen" />

</launch>
